@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    transition: none !important;
}

.transition-opacity {
    transition: opacity 0.3s ease-in-out !important;
}

.transition-transform {
    transition: transform 0.3s ease-in-out !important;
}

.transition-colors {
    transition: background-color 0.2s ease-in-out !important;
}

.hover\:shadow-md {
    transition: box-shadow 0.2s ease-in-out !important;
}



